.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
config.py
craft
!craft/
server
!server/
world
!world/
env
gt
.idea
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Testing/
*.cbp
log.txt
*.o
*.db
*.exe
*.dll
!libcurl.dll
*.pyc
cmake_uninstall.cmake
glfw3.pc
glfw3Config.cmake
glfw3ConfigVersion.cmake
glfw_config.h
libglfw3.a
build/
git_env.bat
*.exp
*.ilk
craft.lib
*.pdb
deps/glfw/src/glfw3.lib
server.lib
deps/qoi/build/
*.a
cmake_build_files/